---
import Layout from "../layouts/Layout.astro";
import "../styles/cssexperiencia.css"

---
<Layout>
    <div class="pagina-experiencia">
        <!-- Monigote con texto -->
        <div class="monigote">
            <img src="/sira-monigote.png" alt="Monigote como Sira" class="sira-monigote" />
        </div>

      <div class="comic" id="texto1">
        <p>Desde 2020 he trabajado como Monitora de Ocio y Tiempo libre:</p>
        <button class="boton-flecha" id="flecha1">➡️</button>
      </div>

      

      <div class="comic" id="texto4">
        <p>Monitora Espacio Joven (Madrid)</p>
        <span class="año">Actualidad</span>
        <button class="boton-flecha" id="flecha4">➡️</button>
      </div>

      <div class="comic" id="texto-final">
        <p>Descargar CV</p>
        <a href="/CV_SIRA_ESONO_PIPA.pdf" download class="boton-flecha">Descargar CV</a>
        </div>
        <div class="volver-opciones">
          <a href="/sapereAude" class="boton-flecha">Volver a Sapere Aude</a>
          <a href="/workinprogress" class="boton-flecha">Volver a Work in Progress</a>
        </div>
        
      </div>
    </div>

    
  </Layout>

  </body>
  </html>
