---
import Layout from "../layouts/Layout.astro";
import  "../styles/cssworkinprogress.css"

---
<Layout>
    <div class="pagina-sapere-aude">
        <!-- Monigote con texto -->
        <div class="monigote">
            <img src="/sira-monigote.png" alt="Monigote como Sira" class="sira-monigote" />
        </div>

      <div class="comic" id="texto1">
        <p>Avancemos en mi etapa formativa</p>
        <button class="boton-flecha" id="flecha1">➡️</button>
      </div>

      <div class="comic" id="texto2">
        <p>Graduada en Bachillerato de Ciencias Sociales</p>
        <span class="año">2019</span>
        <button class="boton-flecha" id="flecha2">➡️</button>
      </div>

      <div class="comic" id="texto3">
        <p>Estudiante de Pedagogía, 3º año de carrera</p>
        <span class="año">2022</span>
        <button class="boton-flecha" id="flecha3">➡️</button>
      </div>

      <div class="comic" id="texto4">
        <p>1º año de DAM</p>
        <span class="año">Actualidad</span>
        <button class="boton-flecha" id="flecha4">➡️</button>
      </div>
      <div class="volver-opciones">
        <a href="/workinprogress" class="boton-flecha">Ir a Work in Progress</a>
        <a href="/experiencia" class="boton-flecha">Ir a experiencia</a>
      </div>
      </div>
    </div>

    
  </Layout>

  </body>
  </html>
