---
import Layout from "../layouts/Layout.astro";
import  "../styles/cssworkinprogress.css"
---

<Layout>
    <div class="pagina-work-in-progress">
        <!-- Monigote con texto -->
        <div class="monigote">
            <img src="/sira-monigote.png" alt="Monigote como Sira" class="sira-monigote" />
        </div>

      <div class="comic" id="texto1">
        <p>En el camino he ido adquiriendo las siguientes habilidades:</p>
        <button class="boton-flecha" id="flecha1">➡️</button>
      </div>

      <div class="comic" id="texto2">
        <p>Certificado monitora de Ocio y Tiempo libre</p>
        <span class="año">2020</span>
        <button class="boton-flecha" id="flecha2">➡️</button>
      </div>

      <div class="comic" id="texto3">
        <p>Diploma Competencias Digitales</p>
        <span class="año">2022</span>
        <button class="boton-flecha" id="flecha3">➡️</button>
      </div>

      <div class="comic" id="texto4">
        <p>Diseñadora de productos Editoriales Multimedia</p>
        <span class="año">2024</span>
        <button class="boton-flecha" id="flecha4">➡️</button>
      </div>

      <div class=" comic no-monigote">
        <img src="/ingles.png" alt="certificado ingles c1 de Sira" class="ingles">
        <span class="año">2024</span>
        <button class="boton-flecha" id="flecha5">➡️</button>
    </div> 
    

    <div class="volver-opciones">
      <a href="/sapereAude" class="boton-flecha">Ir a Sapere Aude</a>
      <a href="/experiencia" class="boton-flecha">Ir a experiencia</a>
    </div>
    </div>

    
  </Layout>

  </body>
  </html>