---
import type { MetaStore } from "astro:content";
---

<footer>
  <div class="footer-contenido">
    <p class="mensaje-footer">Do you want to know about me?</p>
    <div class="links-footer">
      <a href="mailto:siraesonopipa@gmail.com" class="iconos-rrss">
        <img src="/email.png" alt="Email" />
      </a>
      <span class="separador"></span>
      <a href="https://www.linkedin.com" class="iconos-rrss">
        <img src="linkedin.png" alt="LinkedIn" />
      </a>
      <span class="separador"></span>
      <a href="https://github.com/" class="iconos-rrss">
        <img src="github.png" alt="GitHub" />
      </a>
    </div>
    <div class="logo-footer">
      <a href="/">
      <img src="Logo Sira Esono Pipa.png" alt="logo" />
    </a>
    </div>
    <div class="mensaje-barrido">
      <span>Sira Esono Pipa — Backend in progress 💻...</span>
    </div>
  </div>
  </footer>