---
export const hydrate = 'load';

---

<header class="header">
<a href="/">
    <img src="/Logo Sira Esono Pipa.png" alt="Logo" class="logo"; />
</a>

<div class="contenedor-menu">
<!-- parte quien es Sira-->
<div class="menu">
 <button data-menu="quien-es-sira" class="boton">¿Quién es Sira?</button>
  <ul id="quien-es-sira"class="despliegue">
    <li><a href="#sapereAude">Formación</a></li>
    <li><a href="#work-in-progress">Proyectos</a></li>
    <li><a href="#experiencia">Experiencia</a></li>
  </ul>
</div>


<!-- parte contacto-->
 <div class="menu">
 <button data-menu="id-contacto" class="boton">Contacto</button>
 <ul id="id-contacto"class="despliegue">
  <li class="contacto">
    <img src="/casa.png" alt="Casa" class="icono-contacto" />
    <span>Comunidad de Madrid</span>
  </li>

  <li class="contacto">
    <a href="/CV_SIRA_ESONO_PIPA.pdf" download class="boton-descarga">
      <img src="/descarga.png" alt="Descargar CV" class="icono-contacto descarga" />
      <span>Curriculum Vitae</span>
    </a>
  </li>

  <li class="contacto">
    <a href="mailto:siraesonopipa@gmail.com" class="boton-descarga">
      <img src="/email.png" alt="Correo" class="icono-contacto" />
      <span>Mándame un correo</span>
    </a>
  </li>
  

 </ul>
 </div>
</div>
</header>
