---
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="src/styles/cv-astro.css" />
		<link rel="stylesheet" href="/styles/csssapereaude.css" />
		<title>Sira Esono Pipa</title>
		<script src="/js/menu.js" defer></script>
		<title>Sira Esono Pipa</title>
	</head>
	<body>
		<slot />
	</body>
</html>


